if STM32H7

config TARGET_STM32H743_DISCO
	bool "STM32H743 Discovery board"

config TARGET_STM32H743_EVAL
	bool "STM32H743 Evaluation board"

config TARGET_STM32H7_SOM
	bool "Emcraft Systems STM32H7 SOM"

source "board/st/stm32h743-eval/Kconfig"
source "board/st/stm32h743-disco/Kconfig"
source "board/emcraft/stm32h7-som/Kconfig"

endif
